body{
	margin: 5vw;
	font-family: 'Poppins', sans-serif;
	color: white;
}

.container{
	height:70vh;
	  display:flex;
}

a{
	text-decoration: none;
}

footer{
	width: 100vw;
	height: 10vh;
	background-color: #d1d1d1;
	position: absolute;
	padding-left:auto;
	margin: 0;
	left: 0;
}

.credits{
	text-align: center;
}

.bottom-two{ 
  display:flex;
	flex:1;
	         transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

	height: 100%;
}

.primary{
	background-color: #FD2C57;
	height: 100%;
    flex: 1;
         transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.primary:hover{
    flex: 1.5;
     transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.secondary{
	background-color: #39B7FF;
	width: 50%;
	float: right;
	bottom: 0;
	display:flex;
  	flex-direction:column;
  	flex: 1;
  	     transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.secondary:hover{
  	flex: 1.5;
}

.third{
	background-color:#444547 ;
	transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	flex:1;
}

.third:hover{
	flex:1.5;
}

.fourth{
	     transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: #FFC700;
	flex:1;
}

.fourth:hover{
	flex:1.5;
}


.content{	
	margin:3vw;
	position: relative;	
	bottom: 0;
	max-width: 500px;
}

.color_pallete{
	display: flex;
	height: 15vh;
}

.color{
	cursor: pointer;
	height: 50%;
	flex: 1;
	font-size: 10px;
	transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.color.open{
 	flex: 2;
 	height: 75px;
    font-size: 20px;
}

.icnography{
	padding-top: 25px;
	height:15vh;
	display: flex;
	transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}


.icon{
	transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	margin: 10px;
	flex: 1;
	height: 6vh;
	align-self: center;
}

.icon img{
	transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	height: 100%;
}

.icon img:hover{
	height: 8vh;
	align-self: center;
}

h1{	
	font-weight:800;
	font-size: 30px;
}

h5{
	font-size: 12px;
	text-transform: uppercase;
color:grey;
font-weight: 300;
}

p{  
	line-height: 2em;
	font-weight:300;
	font-size: 14px;
}

img{
	height: 35px;
}





@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1){
	p{  
		line-height: 2em;
		font-weight:300;
		font-size: 12px;
	}
	img{
		height: 25px;
	}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
  		p{  
		line-height: 2em;
		font-weight:300;
		font-size: 12px;
	}
	img{
display: none;	}

	h1{	
	font-weight:800;
	font-size: 85px;
}

h5{
	font-size: 12px;
	text-transform: uppercase;
color:grey;
font-weight: 300;
}

.content p{
	display: none;
}
	.icon img{
	transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	height: 65%;
	display: inline;
	}

	.container{
	height:85vh;
	display:flex;
	flex-direction:column;
}

.content{	
	margin:3vw;
	position: relative;	
	bottom: 0;
	max-width: none;
}

.bottom-two{ 
  display:flex;
	flex:1;
	transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	height: 100%;
}

.primary{
	background-color: #FD2C57;
	height: 100%;
    flex: 1;
         transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.secondary{
	background-color: #39B7FF;
	width: 100%;
	float: right;
	bottom: 0;
	display:flex;
  	flex-direction:column;
  	flex: 1;
  	     transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.third{
	background-color:#444547 ;
	transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	flex:1;
}


.fourth{
	     transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: #FFC700;
	flex:1;
}

.icnography{
	flex-wrap: wrap;
	padding-top: 50px;
	height:7vh;
	display: flex;
	transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
  }